@{
  Layout = "_Layout";
}

@model OnlineBakery.Models.Flavor

@Html.ActionLink(" Home", "Index", "Home", null, new { @class="btn btn-info fa fa-home" })
@Html.ActionLink(" All Flavors", "Index", null, null, new { @class="btn btn-info fa fa-th-list" })
<hr />
<p>Add Flavor</p>
<hr />
@using (Html.BeginForm())
{
  <table>
    <tr>
      <td>@Html.Label("Name")</td>
      <td>@Html.TextBoxFor(model => model.Name)</td>
    </tr>
    <tr>
      <td>@Html.Label("Treat")</td>
      <td>@Html.DropDownList("TreatId", "none")</td>
    </tr>
  </table>
  <button type="submit" class="btn btn-info fa"><i class="fa-plus"> Add Flavor</i></button>
}
<hr />