@{
  Layout = "_Layout";
}

@model Library.Models.Author

@Html.ActionLink(" Home", "Index", "Home", null, new { @class="btn btn-info fa fa-home" })
@Html.ActionLink(" All Authors", "Index", null, null, new { @class="btn btn-info fa fa-address-book-o" })
<hr />
<p>Add Author</p>
<hr />
@using (Html.BeginForm())
{
  <table>
    <tr>
      <td>@Html.Label("Name")</td>
      <td>@Html.TextBoxFor(model => model.Name)</td>
    </tr>
    <tr>
      <td>@Html.Label("Book")</td>
      <td>@Html.DropDownList("BookId", "none")</td>
    </tr>
  </table>
  <button type="submit" class="btn btn-default fa"><i class="fa-user-plus"> Add Author</i></button>
}
<hr />