@using Microsoft.AspNetCore.Identity
@using OnlineBakery.Models

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<div id="header">
  <p>Pierre's Online Bakery</p>
  <div class="std-btn">
    @if (signInManager.IsSignedIn(User))
    {
      var currentUser = await userManager.GetUserAsync(User);
      var isAdmin = currentUser != null
          && await userManager.IsInRoleAsync(
              currentUser,
              Constants.AdministratorRole);

      if (isAdmin)
      {
        @Html.ActionLink(" Treats", "Index", "Treats", null, new { @class = "btn btn-info fa fa-gear"})
        @Html.ActionLink(" Flavors", "Index", "Flavors", null, new { @class = "btn btn-info fa fa-gear"})
        @Html.ActionLink(" Manage Users", "Index", "ManageUsers", null, new { @class = "btn btn-info fa fa-gear"})
      }
      else
      {
        @Html.ActionLink(" History", "Index", "Cart", null, new {@class = "btn btn-info fa fa-th-list"})
        @Html.ActionLink(" New Cart", "NewCart", "Cart", null, new {@class = "btn btn-info fa fa-shopping-cart"})
      }
    }
  </div>
  <div class="userinfo">
    @if (User.Identity.IsAuthenticated)
    {
      @User.Identity.Name
      @Html.ActionLink(" Log Off", "Index","Account", null, new { @class = "btn btn-info fa fa-sign-out"})
    }
    else
    {
      @Html.ActionLink(" Log in", "Login", "Account", null, new { @class = "btn btn-info fa fa-sign-in" })
    }
  </div>
</div>