@{
  Layout = "_Layout";
}

@using System.Security.Claims
@using OnlineBakery.ViewModels
@model LoginViewModel

<p>Authentication with Identity</p>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    <p>What would you like to do?</p>
    <p>Choose from the options above.</p>
}
else
{
  <p>Log in with your account</p>
  <hr />
  @using (Html.BeginForm("Login"))
  {
    <table>
      <tr>
        <td>@Html.LabelFor(m => m.Email)</td>
        <td>@Html.TextBoxFor(m => m.Email)</td>
      </tr>
      <tr>
        <td>@Html.LabelFor(m => m.Password)</td>
        <td>@Html.PasswordFor(m => m.Password)</td>
      </tr>
    </table>
    <hr />
    <button type="submit" value="Log in" class="btn btn-info fa"><i class="fa-sign-in"> Log in</i></button>
  }
}
