@{
  Layout = "_Layout";
}

@using OnlineBakery.ViewModels

@model RegisterViewModel

<p>Register a new user</p>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  <table>
    <tr>
      <td>@Html.LabelFor(user => user.Email)</td>
      <td>@Html.TextBoxFor(user=> user.Email)</td>
    </tr>
    <tr>
      <td>@Html.LabelFor(user=> user.Password)</td>
      <td>@Html.PasswordFor(user=> user.Password)</td>
    </tr>
    <tr>
      <td>@Html.LabelFor(user=> user.ConfirmPassword)</td>
      <td>@Html.PasswordFor(user=> user.ConfirmPassword)</td>
    </tr>
  </table>
  <input type="submit" value="Register" />
}