@model OnlineBakery.ViewModels.ManageUsersViewModel 
@{
  Layout = "_Layout";
}

@{
    ViewData["Title"] = "Manage users";
}

<p>@ViewData["Title"]</p>

<p>Administrators</p>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
        </tr>
    </thead>

    @foreach (var user in Model.Administrators)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
        </tr>
    }
</table>

<p>Everyone</p>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
        </tr>
    </thead>

    @foreach (var user in Model.Everyone)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
        </tr>
    }
</table>