@{
  Layout = "_Layout";
}

@model OnlineBakery.Models.Treat

@Html.ActionLink(" All Treats", "Index", null, null, new { @class="btn btn-info fa fa-th-list" })
<hr />

<p>Edit @Html.DisplayFor(model => model.Name)</p>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  <table>
    <tr>
      <td>@Html.LabelFor(model => model.Name)</td>
      <td>@Html.EditorFor(model => model.Name)</td>
    </tr>
    @if(ViewBag.FavorId != null)
    {
      <tr>
        <td>@Html.Label("Select Flavor")</td>
        <td>@Html.DropDownList("FlavorId", "none")</td>
      </tr>
    }
  </table>
  <button type="submit" class="btn btn-info fa"><i class="fa-edit"> Save</i></button>
}
<hr />
